{% extends 'base.html' %}

{% block menu_bar %}
{% endblock %}
{% block content %}


<h3>Products</h3>

<table id="products">
  <tr>
	<th>
	<form action={{ request.path }} method='get'>
				<input type='submit' name='sort' value='Id'/>
		</form>
	</th>
    <th>
		<form action='' method='get'>
		  <input type='submit' name='sort' value='Title'/>
		</form>
	</th>
    <th>
		<form action='' method='get'>
		  <input type='submit' name='sort' value='Description'/>
		</form>
	</th>
    <th>
		<form action='' method='get'>
		  <input type='submit' name='sort' value='Price'/>
		</form>
	</th>
  </tr>
  {% for obj in object_list %}
  	<tr>
        <td>
            <a href={{obj.pk}}>{{ obj.pk }}<a>
        </td>
	  	<td>
            <a href={{obj.pk}}>{{ obj.title }}<a>
        </td>
	  	<td>
            <a href={{obj.pk}}>{{ obj.description }}<a>
        </td>
	  	<td>
            <a href={{obj.pk}}>{{ obj.price }}<a>
        </td>
 	</tr>
  {% endfor %}
</table>

<p>
</p>

{% if object_list.has_other_pages %}
  <ul class="pagination">
    {% if object_list.has_previous %}
      <li>
		<a href="?sort={{ order }}&page={{ object_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in object_list.paginator.page_range %}
      {% if object_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?sort={{ order }}&page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if object_list.has_next %}
      <li><a href="?sort={{ order }}&page={{ object_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}


{% block submenu %}
<p></p>
<div class='button_link'>
<a href='/products/create'>New Product<a>
</div>
{% endblock %}
