{% extends 'products/storage.html' %}

{% block content %}

<h3>Product PK{{ obj.pk }}</h3>

<table id="products">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <tr>
		  <td> {{ obj.title }} </td>
		  <td> {{ obj.description }} </td>
		  <td> {{ obj.price }} </td>
  </tr>
</table>
{% endblock %}


{% block submenu %}
<ul>
    <li><a href='../'>&#8636</a>
	    <li><a href='delete' ID='button_link'>Delete Item</a>
	    <li><a href='update' ID='button_link'>Update Item</a>
</ul>
{% endblock %}
